* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font: 16px "Helvetica neue", Arial, sans-serif ;
  color: #FFF;
  background: #121214;
}

body::-webkit-scrollbar {
  width: 10px;               
}

body::-webkit-scrollbar-track {
  background: transparent;     
}

body::-webkit-scrollbar-thumb {
  background-color: #000;    
  border-radius: 20px;       
}